.menu {
    margin: 0;
    padding: 8px 0;
    border: 1px solid var(--disabled);
    border-radius: var(--component-radius);
    white-space: nowrap;
    background-color: var(--surface);
    color: var(--on-surface);
    box-shadow: var(--container-shadow);
}

::deep > hr {
    border: 0;
    height: 1px;
    background-color: var(--disabled);
}