@inherits FieldBase<string?>

<div class="color-picker">
    @for (var i = 0; i < ColorCount; i++)
    {
        var color = GetColor(i);
        <div class="color-picker__color" style="color:@(color)" aria-selected="@(Aria.Selected(color == Value))" @onclick="() => Value = color" tabindex="0"></div>
    }
</div>