<Dialog @ref="_dialog" Dismissable>
    <Header>
        @if (_original is null)
        {
            <span>New schedule</span>
        }
        else
        {
            <span>Edit @_original.Name</span>
        }
    </Header>
    <Content>
        <TextField Label="Name" @bind-Value="_model.Name" />
        <ColorPicker @bind-Value="_model.Color" />
    </Content>
    <Actions>
        <Button OnClick="() => _dialog!.CloseWithResult(false)">Cancel</Button>
        <Button Primary OnClick="() => _dialog!.CloseWithResult(true)">
            @if (_original is null)
            {
                <span>Create</span>
            }
            else
            {
                <span>Save</span>
            }
        </Button>
    </Actions>
</Dialog>