<PortalSource Name="@(nameof(Backdrop))" @ref="_portal">

    <div class="backdrop" id="@_backdropId" inert="@(!_isOpen)" @onclick="HandleClick" @onfocusout="HandleFocusOut">

        <div tabindex="0" @onfocus="HandleFocusTop"></div>

        @if (_isRendered)
        {
            @ChildContent
        }

        <div tabindex="0" @onfocus="HandleFocusBottom"></div>

    </div>

</PortalSource>