.dialog {
    background-color: var(--surface);
    border-radius: var(--container-radius);
    display: grid;
    padding: 24px;
    gap: 16px;
    box-shadow: var(--container-shadow-3);
    min-width: 300px;
    place-self: center;
}

.dialog__header {
    font-family: var(--font-title);
    font-size: 24px;
}

.dialog__actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.dialog__actions > section {
    display: flex;
    gap: 8px;
}