.popup {
    position: fixed;
    left: var(--x);
    top: var(--y);
    z-index: 300;
    pointer-events: none;
    opacity: 0;
    --surface: color-mix(in srgb, var(--primary) 2%, var(--original-surface));
    --container-shadow: var(--container-shadow-1);
}

.popup[visible] {
    opacity: 1;
    pointer-events: inherit;
}