<div class="tab-set">

    <div class="tab-set__tabs">

        <CascadingValue Value="this" IsFixed>

            @ChildContent

        </CascadingValue>

    </div>

    <div class="tab-set__content">

        @Tab?.ChildContent

    </div>

</div>