article {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    transition: grid-template-columns 100ms ease-in-out;
}


::deep .day-schedule,
::deep .week-schedule {
    height: 100%;
}

.event {
    background-color: var(--color);
    border-radius: var(--component-radius);
    padding: 8px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
}

.week-schedule .event {
    margin-bottom: 4px;
}