<article>
    <h2>@Title</h2>
    <section>
        @ChildContent
    </section>
</article>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = "";

    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
}
